* {
    box-sizing: border-box;
    color: white;
    background: #143045;
}

body {
    font-size: 1.25em;
    line-height: 2em;
    margin: 1em;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: none none dotted none;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
    width: 100%;
}

a, input[type="button"] {
    color: #99A6B0;
    font-weight: 700;
}

span {
    color: white;
    font-weight: 800;
}

h1 {
    color: #99A6B0;
}

ul > li {
    list-style-type: none;
}

h1, .navbar {
    display: inline-block;
    
}

.navbar {
    width: auto;
    height: auto;
}

a:hover, li:hover, h1:hover {
    cursor: pointer;
}

.navbar .menu > li {     
    background: none;
    width: auto;
}

input[type="button"] {
    border-style: none;
    font-family: 'Proza Libre', sans-serif;
    font-size: 16px;
}

#headline {
    font-size: 1em;
    color: white;
}

button {
    background-color: #99A6B0;
    border: none;
    font-family: 'Open Sans', sans-serif;
    color: black;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
}


.contain-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.js-headline-page {
    text-align: center;
}

.quiz-screen {
    width: 100%;
}

.languages {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links{
    display: flex;
    flex-direction: column;
}

.lang-icon {
    height: auto;
    padding: 10px;
    justify-content: flex-start;
}

.menu {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.headline-background {
    width: 50%;
}
@media screen and (max-width: 400px) {
    .lang-icon {
        width: 3em;
        height: 3em;
    }
}
@media screen and (max-width: 500px) {
    
}
@media screen and (min-width: 500px) {
    .lang-icon {
        width: 4em;
        height: 4em;
    }
    
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    body {
        font-size: 1em;
    }

    
    .navbar {
        height: 50px;
    }

    .navbar ul li {
        display: inline-block;
        padding: 10px;
        color: white;
      }
      
    .quiz-screen {
        width: 75%;
        height: 50%;
    }

    .menu {
        display: flex;
        flex-direction: row;
    }

    .contain-content > p {
        width: 50%;
    }
}

@media screen and (min-width: 800px) {
    body {
        line-height: 2em;
    }


    input[type="button"] {
        font-size: 18px;
    }
}
