* {
    box-sizing: border-box;
    color: white;
    background: grey;
}

body {
    font-size: .75em;
    line-height: 3em;
    margin: 1em;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: none none dotted none;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
    width: 100%;
}

a, input[type="button"] {
    color: red;
    font-weight: 700;
}


p {
    margin: 1em;
    color: white;
}

ul > li {
    list-style-type: none;
}

h1, .navbar {
    display: inline-block;
    
}

.navbar {
    width: auto;
    height: auto;
}

a:hover, li:hover, h1:hover {
    cursor: pointer;
}

.navbar .menu > li {     
    background: none;
    width: auto;
}

input[type="button"] {
    border-style: none;
    font-family: 'Proza Libre', sans-serif;
    font-size: 16px;
}

#headline {
    font-size: 1em;
    color: white;
}

button {
    background-color: red;
    font-family: 'Open Sans', sans-serif;
    color: black;
    border: grey;
    height: 40px;
    font-size: 18px;
    border-radius: 8px;
}

button:hover {
    background-color: white;
}

.contain-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.js-headline-page {
    text-align: center;
}

.quiz-screen {
    width: 60%;
    height: 60%;
    
}

.languages {
    align-self: center;
    text-align: center;
}


.lang-icon {
    height: 40px;
}

.hidden {
    display: none;
}


@media screen and (min-width: 500px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    body {
        font-size: 1em;
    }

    
    .navbar {
        height: 50px;
    }

    .navbar ul li {
        display: inline-block;
        padding: 10px;
        color: white;
      }
      
      .quiz-screen {
        width: 50%;
        height: 50%;
    }
}

@media screen and (min-width: 800px) {
    body {
        line-height: 2em;
    }

    p {
        margin: 1em 3em;
    }

    input[type="button"] {
        font-size: 18px;
    }
}
